.nav {
  width: 0;
  max-width: 251px;
  height: 100vh;
  background-color: var(--white);
  border-right: 1px solid rgba(189, 194, 198, 0.4);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
  overflow: auto;
  z-index: 1;
  transition: width 300ms ease;


  @media screen and (min-width: 768px) {
    width: 100%;
  }

  &--open {
    width: 100% !important;
  }

  
  &__link {
    width: 100%;
    text-decoration: none;
    padding: 24px;
    font-family: var(--font-family-rubik);
    font-size: 16px;
    color: var(--grey-2);
    text-align: center;

    &--active {
      color: var(--grey-1);
      font-weight: bold;
    }
  }
}