:root {

  --white: #fff;
  --black: #000;
  --grey-1: #444444;
  --grey-2: #bdc2c6;
  --grey-3: #8e8e93;
  --grey-4: #595959;
  --purply-blue: #6320e9;
  --red-1: #ba1e24;
  --red-2: #d0021b;
  --solitude: #ebf0f5;

  --font-family: 'Oscine', sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;
}